<h1>Listing lends</h1>

<table>
  <tr>
    <th>To</th>
    <th>Game</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lends.each do |lend| %>
  <tr>
    <td><%= lend.to %></td>
    <td><%= lend.game_id %></td>
    <td><%= lend.user_id %></td>
    <td><%= link_to 'Show', user_lend_path(lend.user_id, lend) %></td>
    <td><%= link_to 'Edit', edit_user_lend_path(lend.user_id, lend) %></td>
    <td><%= link_to 'Destroy', user_lend_path(lend.user_id, lend), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lend', new_user_lend_path %>